<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>XPS</Name>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8veHBzLmRldi54cm1saXZlLmNvbS87VXNlcm5hbWU9cmVwdWJsaWNccmd1bHVhcnRlO1Bhc3N3b3JkPSdEM2ZhdWx0MTIzJzs=</ConnectionString>
      <Version>8.0.1.79</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/scheduler.js</Path>
      <WebResourceId>69ffaf43-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/scripts/scheduler.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/moment.min.js</Path>
      <WebResourceId>1259e74d-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/scripts/moment.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/jquery.min.js</Path>
      <WebResourceId>1559e74d-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/scripts/jquery.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/gcal.min.js</Path>
      <WebResourceId>bf3ef679-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/scripts/gcal.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/fullcalendar.min.js</Path>
      <WebResourceId>40f7dd84-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/scripts/fullcalendar.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/scheduler.min.css</Path>
      <WebResourceId>43f7dd84-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/scheduler.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/scheduler.css</Path>
      <WebResourceId>ddce6790-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/scheduler.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/fullcalendar.print.min.css</Path>
      <WebResourceId>e0ce6790-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/fullcalendar.print.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/fullcalendar.min.css</Path>
      <WebResourceId>cba3bc99-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/fullcalendar.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uibgdiagonalsthick90eeeeee40x40.png</Path>
      <WebResourceId>6bee9fe3-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uibgdiagonalsthick90eeeeee40x40.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/jqueryui.min.css</Path>
      <WebResourceId>3ed64ba7-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/jqueryui.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/jqueryui.min.js</Path>
      <WebResourceId>bc3ef679-1fc6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/scripts/jqueryui.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uiiconsffffff256x240.png</Path>
      <WebResourceId>a44176c4-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uiiconsffffff256x240.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uiicons72a7cf256x240.png</Path>
      <WebResourceId>5f6dcecc-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uiicons72a7cf256x240.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uiicons3d80b3256x240.png</Path>
      <WebResourceId>626dcecc-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uiicons3d80b3256x240.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uiicons2e83ff256x240.png</Path>
      <WebResourceId>0989e5d2-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uiicons2e83ff256x240.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uiicons2694e8256x240.png</Path>
      <WebResourceId>ee238ed9-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uiicons2694e8256x240.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uibghighlightsoft25ffef8f1x100.png</Path>
      <WebResourceId>4cae04e0-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uibghighlightsoft25ffef8f1x100.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uibghighlightsoft100deedf71x100.png</Path>
      <WebResourceId>4fae04e0-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uibghighlightsoft100deedf71x100.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uibghighlighthard700000001x100.png</Path>
      <WebResourceId>f0a2dce9-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uibghighlighthard700000001x100.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uibghighlighthard100f2f5f71x100.png</Path>
      <WebResourceId>f3a2dce9-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uibghighlighthard100f2f5f71x100.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uibgglass80d7ebf91x400.png</Path>
      <WebResourceId>6b64abf0-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uibgglass80d7ebf91x400.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uibgglass503baae31x400.png</Path>
      <WebResourceId>6e64abf0-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uibgglass503baae31x400.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/css/cupertino/images/uibgglass100e4f1fb1x400.png</Path>
      <WebResourceId>ac2c1df7-20c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/css/cupertino/images/uibgglass100e4f1fb1x400.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/html/calendar.html</Path>
      <WebResourceId>f285c46d-21c6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/html/calendar.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/calendar.js</Path>
      <WebResourceId>53bf8889-24c6-e611-80d6-00155dfe6c02</WebResourceId>
      <WebResourceName>xrm_/scripts/calendar.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/q.js</Path>
      <WebResourceId>a03187d9-3ac6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/scripts/q.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/scripts/SDK.REST.js</Path>
      <WebResourceId>b9f79bdf-3ac6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/scripts/SDK.REST.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/hospitalbuildings16x16.png</Path>
      <WebResourceId>c4716031-edc6-e611-80d6-00155dfe6c02</WebResourceId>
      <WebResourceName>xrm_/images/hospitalbuildings16x16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/hospitalbuildings32x32x.png</Path>
      <WebResourceId>c7716031-edc6-e611-80d6-00155dfe6c02</WebResourceId>
      <WebResourceName>xrm_/images/hospitalbuildings32x32x.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/sleepingbedsilhouette16x16.png</Path>
      <WebResourceId>9adf0539-edc6-e611-80d6-00155dfe6c02</WebResourceId>
      <WebResourceName>xrm_/images/sleepingbedsilhouette16x16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/sleepingbedsilhouette32x32.png</Path>
      <WebResourceId>9ddf0539-edc6-e611-80d6-00155dfe6c02</WebResourceId>
      <WebResourceName>xrm_/images/sleepingbedsilhouette32x32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/hospitalbed16.png</Path>
      <WebResourceId>25a0dc85-edc6-e611-80d6-00155dfe6c02</WebResourceId>
      <WebResourceName>xrm_/images/hospitalbed16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/hospitalbed32.png</Path>
      <WebResourceId>28a0dc85-edc6-e611-80d6-00155dfe6c02</WebResourceId>
      <WebResourceName>xrm_/images/hospitalbed32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/calendar16.png</Path>
      <WebResourceId>39e1b136-eec6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/images/calendar16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/calendar32.png</Path>
      <WebResourceId>d7335941-eec6-e611-80d1-00155dfe6e01</WebResourceId>
      <WebResourceName>xrm_/images/calendar32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>c4c60532-45c4-e511-80c5-00155d02a790</OrgId>
      <Path>/images/calendar.png</Path>
      <WebResourceId>4bef98b4-fbc6-e611-80d6-00155dfe6c02</WebResourceId>
      <WebResourceName>xrm_/images/calendar.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>